# Spring Boot
SPRING_DATASOURCE_URL=jdbc:postgresql://db-host:5432/postgres
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=change-me

# Spring Boot-> FastAPI 요청 URL
AI_SERVICE_URL=http://ai-api:8000

# FastAPI-> Spring Boot 요청 URL
SPRING_BASE_URL=http://java-backend:8080

# 파이프라인에서 GPT 요약과 임베딩 Batch API 호출에 사용하는 OpenAI API key
OPENAI_API_KEY=change-me

# 파이프라인과 FastAPI 서버
SUPABASE_URL=SUPABASE_URL
SUPABASE_SERVICE_ROLE_KEY=SUPABASE_SERVICE_ROLE_KEY
